---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class="px-4 py-2 rounded-md hover:bg-accent text-lg font-semibold"
	class:list={[className, { "bg-zinc-200": isActive }]}
	{...props}
>
	<slot />
</a>