<div class="w-full flex flex-col items-center justify-center h-[90vh] gap-4 px-6">
  <h1 class="w-full text-6xl md:text-8xl font-bold text-primary-title text-center">
    Welcome to the
    <br class="hidden md:block"/>
    ACM student chapter
  </h1>
  <p class="text-xl md:text-2xl text-primary w-full max-w-2xl text-center">
    We are a chapter club of the Association for Computing Machinery organization. Our goal is to expose passionate people of all levels.
  </p>
</div>