<div class="w-full flex flex-col justify-center items-center my-40 px-6">
  <div class="relative hidden md:flex items-center py-10">
    <img src="/img/ACM_logo.webp" class="rounded-full border-[20px] border-background absolute left-0 w-96 h-96" alt="ACM Logo" />
    <div class="bg-accent aspect-video h-80 ml-48 rounded-md"/>
  </div>
  <div class="relative md:hidden flex items-center mb-4 w-full">
    <img src="/img/ACM_logo.webp" class="rounded-full border-[20px] border-background absolute left-0 right-0 m-auto top-[-8rem] w-48" alt="ACM Logo" />
    <div class="bg-accent aspect-video w-full h-auto rounded-md"/>
  </div>
  <p class="text-xl md:text-2xl text-primary w-full max-w-2xl text-center ">
    We are a chapter club of the Association for Computing Machinery organization. Our goal is to.
  </p>
</div>